.container-besar{
    margin-top: 10px;
    width: 768px;
	max-width: 100%;
	min-height: 480px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    text-align: center;
}

.container-kiri-bawah{
    width: 50%;
    height: 50%;
    padding-bottom: 50%;
    background-color: aquamarine;
}

.container-kanan-bawah{
    width: 50%;
    height: 50%;
    background-color: blue;
    margin-left: 50%;
}